<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Lotoquine</title>
    <link rel="stylesheet" href="{{ asset('css/grille.css') }}?v=2">
</head>
<body>
    <h1>Lotoquine</h1>
    <button id="reset">Remettre à zéro</button>
    <div id="grille">
        {% for numero in numeros %}
            <button class="case" data-numero="{{ numero }}">{{ numero }}</button>
        {% endfor %}
    </div>
    <script src="{{ asset('js/grille.js') }}?v=2"></script>
</body>
</html>
